@import 'cropperjs/dist/cropper.css';
// app global css in SCSS form
@font-face {
    font-family: nunito;
    src: url(./../assets/fonts/nunito/Nunito-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: nunito;
    src: url(./../assets/fonts/nunito/Nunito-VariableFont_wght.ttf);
}

.page-background {
  background-color: $info;
}

.menu-list .q-expansion-item {
  border-radius: 32px;
}

.menu-list .q-item {
  color: #d0d0d0;
}

.menu-list .q-icon {
  color: white;
}

.menu-list .q-item.q-router-link--active,
.q-item--active {
  font-size: medium;
  font-weight: bold;
  color: white;
}

.bg-primary-input-color{
  background: $bg-primary-input-color !important;
}

.text-primary-input-color {
  color: $label-primary-input-color !important;
}

.text-border-primary-input-color {
  color: $border-primary-input-color !important;
}

.text-border-primary-input-color .q-icon {
  color: $icon-primary-input-color !important;
}

.value-primary-input-color {
  color: $value-primary-input-color !important;
}

.bg-primary-input-color .q-field__native {
  color: $value-primary-input-color !important;
}
