// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary: ;
$primary: #004d80;
$secondary: #027101;
$accent: #5e5e5e;

$dark: #1d1d1d;

$positive: #88fa4f;
$negative: #aa4339;
$info: #0285b7;
$warning: #feae00;

$typography-font-family: 'nunito';
